$blue: #004855; // Blue
$offWhite: #e7e7e7; // Off White
$grey: #939598; // Grey
$alignMiddle: 145px;

body {
	font-family: 'Open Sans Condensed';
	font-size: 16px;
	color: #595a5c;
	background: $offWhite;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PT Sans";
	font-weight: 700;
}

@media (min-width: 992px) {
	header {
		border-bottom: 1px solid $grey;
	}
}

.header-inner {
	@media (min-width: 992px) {
		margin-left: 50px;
	}
    margin-top: 60px;
    margin-bottom: 120px;
}

.back-btn {
	float: right;
	font-family: "PT Sans";
	font-weight: 700;
	font-size: 25px;
	text-align: right;
	color: $blue;
	margin-top: -7px;
	padding-right: 0;

	&:hover {
		text-decoration: none;
	}

	&:before {
		font-family: "Glyphicons Halflings";
		font-weight: 400;
		content: "\e079";
		vertical-align: top;
	}

	@media (max-width: 991px) {
		display: none;
	}
}

#main-content {
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) {
		header.container-fluid {
			margin-left: 40px;
		}
	}
}

#sidebar-mobile {
	background: $blue;
	margin-left: -15px;
	margin-right: -15px;

	header {
		border-bottom: 1px solid $grey;
	}
}

#sidebar {
	background: $blue;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
}

#product-teaser {
	.teaser-row {
		padding-bottom: 60px;
		border-bottom: 1px solid $grey;
	}
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) {
		.teaser-row {
			padding-left: 75px;
		}
		.flyer-row {
			padding-left: 90px;
		}
	}

	.flyer-row {
		margin-bottom: 100px;
	}
}

.teaser-row-text {
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;

	p {
		margin-bottom: 0;
	}
	
	& + .container-fluid .teaser-box {
		margin-top: 30px;
	}
}

.teaser-box {
	margin-top: 60px;

	&:hover {
		cursor: pointer;
	}
}

#product-article {
	margin-right: 40px;
	text-align: right;
	color: $grey;

	header {
		// padding-top: 157px;
		position: relative;

		h2 {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	.article-body {
		margin-top: 60px;
		// margin-left: 40px;
	}

	h2,
	.article-title {
		font-size: 28px;
		color: #fff;
	}

	.article-title {
		color: $grey;
	}

	.article-content {
		font-size: 130%;
		font-weight: 300;
	}
}

#product-article-mobile {
	text-align: center;
	color: $grey;
}

#logo-colon {
	position: absolute;
	bottom: -50px;
	right: 20px;
	
	@media (min-width: 992px) {
		right: $alignMiddle;
		bottom: 120px;
	}


	.round {
		width: 50px;
		height: 50px;
		display: block;
		border-radius: 50%; 
		background: #fff;
		margin-bottom: 20px;
	}
}

footer {
	font-size: 140%;
	position: relative;
	bottom: 0;
	
	&.container-fluid {
		margin-left: 30px;
		margin-bottom: 65px;
	}

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) {
		&.container-fluid {
			margin-left: 65px;
			margin-bottom: 65px;
		}
	}

	.back-btn {
		margin-top: 3px;
	}

	span {
		font-weight: bold;
	}

	address {
		font-size: 65%;
		letter-spacing: .5px;
		margin-bottom: 0;
	}
}

#scroll-top-btn {
	display: none;
	color: #000;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 20px;

	@media (min-width: 992px) {
		right: $alignMiddle;
	}
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.25);

	&:hover,
	&:focus {
		text-decoration: underline;
		background-color: rgba(255, 255, 255, 0.5);
	}

	.glyphicon {
		top: 2px;
		left: 2px;
	}
}

#carousel-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	// height: 100%;
	padding: 0;
	background: #fff;

	.owl-carousel {

		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		.owl-item {
			float: none;
			display: inline-block;
			vertical-align: middle;
		}

		.owl-nav {
			.owl-prev,
			.owl-next {
				top: 46%;
				position: absolute;
				font-family: 'Glyphicons Halflings';
			    font-style: normal;
			    font-weight: 400;
			    font-size: 0;
			    -webkit-font-smoothing: antialiased;

			    &:hover {
			    	color: $blue;
			    }
			}
			
			.owl-prev {
				left: 20px;

				&:before {
					font-size: 20px;
					content: "\e079";
				}
			}

			.owl-next {
				right: 20px;

				&:before {
					font-size: 20px;
					content: "\e080";
				}
			}
		}
	}

	#close-carousel-btn {
	    position: absolute;
	    top: 10px;
		right: 10px;
		z-index: 2;
		color: $blue;

		&:hover {
			text-decoration: none;
		}
	}
}